/EngenhariaReversaDb/obj/*
/EngenhariaReversaDb/bin/*
/.vs/*
/EngenhariaReversaDb.Windows/bin/*
/EngenhariaReversaDb.Windows/obj/*
/Inverse/bin/Debug/net6.0
/Inverse/obj
/Inverse.Desktop/bin/Debug/net6.0-windows
/Inverse.Desktop/obj
*.user
/Inverse.Tests/bin/Debug/net6.0
/Inverse.Tests/obj
/Inverse/bin/Release/net6.0
/Inverse.Tests/bin/Release/net6.0
/Inverse.Desktop/bin/Release/net6.0-windows
/Inverse.Plugin/bin/Debug/net6.0
/Inverse.Plugin/obj/Debug/net6.0
/Inverse.Plugin/obj
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/bin/Debug/net6.0
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/obj
/Inverse.Plugin.DatabaseGenerator.Sqlite/bin/Debug/net6.0
/Inverse.Plugin.DatabaseGenerator.Sqlite/obj
/Inverse.Plugin.FileManager.EncryptedXml/obj
/Inverse.Plugin.MsSqlServer.ScriptGenerator/obj
/Inverse.Plugin.FileManager.EncryptedXml/bin/Debug/net6.0
/Inverse.Plugin.MsSqlServer.ScriptGenerator/bin/Debug/net6.0
/Inverse.Plugin.ScriptGenerator.MsSqlServer/bin/Debug/net6.0
/Inverse.Plugin.ScriptGenerator.MsSqlServer/obj
/Inverse.Plugin/bin/Release/net6.0
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/bin/Release/net6.0/ref
/Inverse.Plugin.DatabaseGenerator.Sqlite/bin/Release/net6.0/ref
/Inverse.Plugin.FileManager.EncryptedXml/bin/Release/net6.0/ref
/Inverse.Plugin.ScriptGenerator.MsSqlServer/bin/Release/net6.0/ref
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/bin/Release/net6.0
/Inverse.Plugin.DatabaseGenerator.Sqlite/bin/Release/net6.0
/Inverse.Plugin.FileManager.EncryptedXml/bin/Release/net6.0
/Inverse.Plugin.ScriptGenerator.MsSqlServer/bin/Release/net6.0
/Inverse.Application/bin/Debug/net6.0
/Inverse.Application/obj
/Inverse.Domain/bin/Debug/net6.0
/Inverse.Domain/obj
