*.user
/.vs/*
/Inverse.Application/bin/*
/Inverse.Application/obj/*
/Inverse.Desktop/bin/*-windows
/Inverse.Desktop/bin/Debug/*-windows
/Inverse.Desktop/obj/*
/Inverse.Domain/bin/*
/Inverse.Domain/obj
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/bin/*
/Inverse.Plugin.DatabaseGenerator.MsSqlServer/obj
/Inverse.Plugin.DatabaseGenerator.Sqlite/bin/*
/Inverse.Plugin.DatabaseGenerator.Sqlite/obj/*
/Inverse.Plugin.FileManager.EncryptedXml/bin/*
/Inverse.Plugin.FileManager.EncryptedXml/obj
/Inverse.Plugin.MsSqlServer.ScriptGenerator/bin/*
/Inverse.Plugin.MsSqlServer.ScriptGenerator/obj/*
/Inverse.Plugin.ScriptGenerator.MsSqlServer/bin/*
/Inverse.Plugin.ScriptGenerator.MsSqlServer/obj
/Inverse.Plugin/bin/*
/Inverse.Plugin/obj/*
/Inverse.Tests/bin/*
/Inverse.Tests/obj/*
/Inverse/bin/*
/Inverse/obj/*
