/EngenhariaReversaDb/obj/*
/EngenhariaReversaDb/bin/*
/.vs/*
/EngenhariaReversaDb.Windows/bin/*
/EngenhariaReversaDb.Windows/obj/*
/Inverse/bin/Debug/net5.0
/Inverse/obj
/Inverse.Windows/bin/Debug/net5.0-windows
/Inverse.Windows/obj
*.user
/Inverse.Tests/bin/Debug/net5.0
/Inverse.Tests/obj
/Inverse/bin/Release/net5.0
/Inverse.Tests/bin/Release/net5.0
/Inverse.Windows/bin/Release/net5.0-windows
